* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteneur-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aqua;
  padding: 16px;
}

/* image à gauche, taille fixe */
.img_card img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.card {
  width: 345px;
  height: 540px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.head_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.title_card {
  flex: 1;
}

.title_card h2 {
  font-size: 18px;
  margin-bottom: 6px;
  line-height: 1.1;
  margin-top: 25px;
}

.title_card p {
  color: #666;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 35px;
}

/* contenu du milieu */

.middle_card {
    margin-top: 25px;
}

.image_middle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-item img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background-color: aqua;
  background-size: 38px 38px;
}

.menu-item p {
  flex: 1;
  color: #333;
  font-size: 14px;
}

/* Chevron à droite */
.menu-item::after {
  content: ">";
  font-size: 18px;
  margin-right: 25px;
  color: #666;
}

/* footer */

.footer_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.footer_card img {
    width: 25px;
    height: 25px;

}